/* Custom fonts */

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat-Black.ttf);
}

/* Animations */

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(-1.25vh);
    }
    50% {
        transform: translateY(1.25vh);
    }
}

@keyframes waveMove {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes waveUpDown {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes upperTextMove {
    from {
        transform: translateX(80vw);
        clip: rect(-10px, 1920px, 200px, -80vw);
    }
    to {
        transform: translateX(-80vw);
        clip: rect(-10px, 1920px, 200px, 80vw);
    }
}

@keyframes lowerTextMove {
    from {
        transform: translateX(65vw);
        clip: rect(-10px, 1920px, 200px, -65vw);
    }
    to {
        transform: translateX(-65vw);
        clip: rect(-10px, 1920px, 200px, 65vw);
    }
}

/* Define color variables */

:root {
    --white: #ffffff;
    --blue: #0008D0;
}

/* Styling */

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    padding-top: 10vh;
    overflow-x: hidden;
    background: repeating-linear-gradient(#131B4A, #00011A, #131B4A);
}

.container {
    z-index: 1000;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6.538fr 1fr;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
        "header header header"
        "left body right"
        "footer footer footer";
}

#wave-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    max-height: fit-content;
    user-select: none
}

.waves {
    position: absolute;
    width: 400%;
    animation: waveMove 40s linear infinite, waveUpDown 10s ease-in-out infinite;
}

.waves img {
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
}

.first > img {
    margin-top: 40vh;
}

.second > img {
    margin-top: 60vh;
    margin-left: -200vw;
}

.third > img {
    margin-top: 80vh;
}

.header {
    z-index: 2000;
    position: fixed;
    grid-area: header;
    height: 10vh;
    width: 100vw;
    top: 0;
    transition: top 0.15s linear;
}

.nav-up {
    top: -10vh;
}

.left-header {
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-container {
    max-width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left-header" "center-header" "right-header";
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    width: 75%;
    height: 75%;
    align-items: center;
    grid-template-areas: 
        "top top top"
        "left center-logo right"
        "bottom bottom bottom";
    }

#luuknoverraz-logo {
    grid-area: center-logo;
}

#luuknoverraz-logo, .article-image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.scrollbutton {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    -webkit-animation: moveUpDown 4s ease-in-out infinite;
    animation: moveUpDown 4s ease-in-out infinite;
}

.scrollbutton img {
    width: 7.5vw;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav p, nav a, #more-text, #more-text > a, .title, .article-title, .date, .collapsible, .collapsible:after {
    color: var(--white);
    text-decoration-color: var(--white);
}

nav p {
    text-decoration: underline;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 700;
}

nav a {
    text-decoration: underline;
    z-index: 1000;
}

#more-text {
    text-align: center;
    font-size: 3vh;
    font-weight: 600;
    margin-top: 5vh;
}

#more-text > a {
    text-decoration: underline;
}

main {
    z-index: 1000;
    grid-area: body;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 17.5vh;
    font-family: Montserrat-Black;
    white-space: nowrap;
}

.title-item {
    position: absolute;
    overflow: hidden;
    margin: 0;
    width: 75vw;
    line-height: 0.9;
    font-size: 8vw;
    font-weight: 900;
    text-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
}

.billboard {
    position: absolute;
    font-family: Montserrat-ExtraLight;
    font-size: 5vw;
    margin-top: 0.5vh;
    margin-left: 1vw;
}

#upper-billboard {
    animation: upperTextMove 15s linear infinite;
}

#lower-billboard {
    animation: lowerTextMove 15s linear infinite;
}

#underline {
    position: absolute;
    background: white;
    width: 100%;
    height: 0.4vh;
    margin-top: 8%;
    margin-left: 0.75vw;
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 28px;
}

.article-item {
    background-color: #000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 28px 2px rgba(0,0,0,0.2);
}

.article-title, .article-image, .tag, .date, .collapsible {
    cursor: pointer;
}

.article-title {
    position: absolute;
    font-family: Montserrat-SemiBold;
    -webkit-text-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    text-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    margin: 0;
    font-size: 1.5vw;
    margin-top: 13.5vw;
    margin-left: 1vw;
    z-index: 1000;
}

.article-image {
    display: block;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition-property: filter;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.article-image:hover {
    filter: brightness(0.75);
}

body, .tag, .date, .modal-window {
    font-family: Montserrat;
}

.tag {
    position: absolute;
    font-size: 1.25vw;
    text-align: center;
    border-radius: 5px;
    color: #424242;
    background-color: #E3E3E3;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 28px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 28px 2px rgba(0,0,0,0.2);
    margin-top: 15.5vw;
    margin-left: 1vw;
    width: max-content;
    padding: 0 0.5vw 0 0.5vw;
}

.date {
    position: absolute;
    font-size: 1.25vw;
    text-align: right;
    border-radius: 5px;
    z-index: 1000;
    -webkit-text-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    text-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    margin-top: 15.5vw;
    margin-left: 9vw;
    width: 8vw;
}

.collapsible {
    background-color: #00000000;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    font-family: Montserrat-SemiBold;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: scroll;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    scrollbar-width: auto;
    scrollbar-color: #bfbfbf #ffffff;
    border-radius: 4px;
}

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 12px;
    border: 4px solid #ffffff;
}

.content p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.content a, .modal-window a {
    color: var(--blue);
}

footer {
    z-index: 1000;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 23vh;
}

.footer-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-item {
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 5vw;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-item > img {
    max-height: 100%;
    max-width: 100%;
}

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    font-family: Montserrat-Bold;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}

.modal-close {
    color: black;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: black;
}

.modal-window, .modal-window > div {
    border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

/* Styling for 500-800px width format */

@media (max-width: 800px) {
    .main {
        margin-top: -10vh;
    }

    .wave-container {
        max-height: 1600px !important;
    }
}

/* Styling for <500px width format */

@media (max-width: 500px) {
    .wave-container {
        max-height: 1600px !important;
    }

    .main {
        margin-top: -15vh;
    }

    nav a {
        font-size: 4vw;
    }

    .logo-container {
        width: 100%;
        height: 100%;
    }

    #underline {
        height: 0.2vh;
    }

    .title {
        margin-top: 25vh;
        margin-bottom: 10vh;
    }

    .scrollbutton img {
        width: 25vw;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .article-title {
        font-size: 3vw;
        margin-top: 25vw;
    }

    .tag {
        font-size: 2.5vw;
        margin-top: 30vw;
        width: 11vw;
    }

    .date {
        font-size: 2.5vw;
        margin-top: 30vw;
        margin-left: 17vw;
        width: 14vw;
    }

    #robotics {
        width: 12vw;
    }

    .modal-window > div {
        width: 60vw;
    }

    .footer-item {
        height: 10vw;
    }
}