body {
  overflow: hidden;
}

:root {
  --bgr: #1a1a1a;
  --txt: #ffffff;
  --ylw: #F7D673;
  --blu: #B4E3F4;
  --pnk: #F4A5C4;
}

@font-face {
  font-family: centuryGothic;
  src: url(fonts/GOTHIC.TTF);
}

h1 {
  font-family: centuryGothic;
  font-weight: bold;
  color: var(--txt);
}

p {
  font-family: centuryGothic;
}

i {
  font-family: centuryGothic;
  font-style: italic;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
             "nav"
             "main"
             "footer";
}

.section {
  background-color: var(--bgr);
}

#header {
  z-index: 100;
  grid-area: header;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 6.5vh;
  width: 100%;
}

.content-image {
  max-width: 50vw;
  margin-top: 1vh;
}

a > .image, div > a > p {
  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

a > .image:hover, div:hover > .nav-text > p {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#nav {
  z-index: 99;
  grid-area: nav;
  min-height: 10vh;
  -webkit-box-shadow: 10px 0px 39px 0px rgba(0,0,0,0.89);
  -moz-box-shadow: 10px 0px 39px 0px rgba(0,0,0,0.89);
  box-shadow: 10px 0px 39px 0px rgba(0,0,0,0.89);
  align-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "about projects skills";
}

.color-link {
  font-weight: bold;
  color: var(--pnk) !important;
  margin-top: 0 !important;
  text-decoration: underline;
}

.color-link2 {
  color: var(--ylw) !important;
}

.keywords {
  color: var(--blu) !important;
}

#nav > div {
  min-width: 11vw;
  text-align: center;
  cursor: pointer;
}

#about {
  grid-area: about;
  background-color: var(--ylw);
}

#projects {
  grid-area: projects;
  background-color: var(--blu);
}

#skills {
  grid-area: skills;
  background-color: var(--pnk);
}

#nav p {
  color: var(--bgr);
  font-weight: bold;
}

#main {
  grid-area: main;
  min-height: 70vh;
  scrollbar-color: var(--txt) var(--bgr);
  scrollbar-width: thin;
}

.main-container::-webkit-scrollbar-track {
  opacity: 0.0;
}

.main-container::-webkit-scrollbar {
  opacity: 0.0;
}
.main-container::-webkit-scrollbar-thumb {
  background-color: var(--txt);
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--txt);
}

.main-container > div {
  height: 11vh;
}

#main p, #main i {
  color: var(--txt);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 4.3fr 1fr;
  grid-template-areas:  "top top top"
                        "left center right"
                        "bottom bottom bottom";
}

.main-container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bayver besyes alein"
                       "other-projects other-projects other-projects"
                       "other-projects other-projects other-projects";
}

.project-block {
  cursor: pointer;
  width: 33.333vw;
}

.project-image {
  display: flex;
  height: 100%;
  max-height: 22vh;
  position: relative;
  top: -23vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: -webkit-xxx-large;
  font-weight: bold;
  color: #4B0082 !important;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.0;
  transition-property: transform, opacity;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

#bayver {
  grid-area: bayver;
  background-image: url("../images/bayver.png");
}

#besyes {
  grid-area: besyes;
  background-image: url("../images/besyes.png");
}

#alein {
  grid-area: alein;
  background-image: url("../images/alein.png");
}

#other-projects {
  grid-area: other-projects;
}

.project-content {
  height: 100%;
  background-size: cover;
  transition-property: filter;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.project-block:hover .project-content {
  filter: blur(2px);
}

.project-block:hover .project-image {
  opacity: 1.0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#top {
  grid-area: top;
}

#left {
  grid-area: left;
}

#center {
  grid-area: center;
  margin-top: -5vh;
}

#center-projects {
  grid-area: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.line-between {
  width: 20vw;
  height: .25vh;
  background-color: var(--txt);
}

.center-div {
  margin-bottom: 4vh;
}

#about-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "left-center-div" "right-center-div";
}

.left-center-div {
  grid-area: left-center-div;
}

.right-center-div {
  grid-area: right-center-div;
}

#right {
  grid-area: right;
}

#bottom {
  grid-area: bottom;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#center h1, #center p, #center i {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
}

i {
  display: inline-block;
}

#footer {
  z-index: 100;
  grid-area: footer;
  min-height: 10vh;
  -webkit-box-shadow: 0px -10px 39px 0px rgba(0,0,0,0.89);
  -moz-box-shadow: 0px -10px 39px 0px rgba(0,0,0,0.89);
  box-shadow: 0px -10px 39px 0px rgba(0,0,0,0.89);
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "email github dribbble";
}

#footer > div {
  cursor: pointer;
}

#email {
  grid-area: email;
}

#github {
  grid-area: github;
}

#dribbble {
  grid-area: dribbble;
}

@media only screen and (min-width: 640px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:  "top top top"
                          "left center right"
                          "bottom bottom bottom";
  }
  .content-image {
    max-width: 20vw;
    max-height: 20vh;
    margin-top: 8vh;
    margin-left: 2vw;
  }
  #about-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "left-center-div right-center-div";
  }
}
